<RuleSet Name="Rules for NetUlid" ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None"/>
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None"/>
    <Rule Id="SA1600" Action="None"/>
    <Rule Id="SA1602" Action="None"/>
    <Rule Id="SA1633" Action="None"/>
  </Rules>
</RuleSet>
